
{% load static %}
{% load i18n %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>Ошибка</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'auth_assets/css/main.css' %}" />
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %)">
		<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>Error: Ошибка социальной сети</h1>
				<p>Похоже произошла какая-то ошибка. Попробуйте ещё раз, либо свяжитесь с нами по этому адресу: likeagent@inbox.ru</p>
			</header>

		<!-- Signup Form -->
			<form action="../">
		  <button type="submit">Назад</button>
			</form>

		<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
					<li><a href="../../../privacy_policy/">Правила использования</a></li><li>Связаться с нами: likeagent@inbox.ru</li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'auth_assets/js/main.js' %}"></script>
	</body>
</html>
