{% load static %}

{% block content %}
							<div id="additional-questions">
								<hr>
								<p>Следующие вопросы не связаны с тестом и не обязательны. И всё же мы просим ответить на них. Эта информация нам необходима для ведения статистики.</p>

								<p>
									<div class="col-12">
										<select name="sex" id="sex">
											<option value="">- Ваш пол -</option>
											<option value="n/a">Не выбрано</option>
											<option value="Мужской">Мужской</option>
											<option value="Женский">Женский</option>
										</select>
									</div>

									<div class="col-12">
										<select name="alcohol" id="alcohol">
											<option value="">- Ваш возраст -</option>
											<option value="n/a">Не выбрано</option>
											<option value="14 и младше">14 и младше</option>
											<option value="15-17">15-17</option>
											<option value="18-22">18-22</option>
											<option value="23-27">23-27</option>
											<option value="27-35">27-35</option>
											<option value="36-45">36-45</option>
											<option value="46-55">46-55</option>
											<option value="Старше 55">Старше 55</option>
										</select>
									</div>

									<div class="col-12">
										<select name="alcohol" id="alcohol">
											<option value="">- Отношение к алкоголю -</option>
											<option value="n/a">Не выбрано</option>
											<option value="Негативное">Негативное</option>
											<option value="Нейтральное">Нейтральное</option>
											<option value="Положительное">Положительное</option>
										</select>
									</div>

									<div class="col-12">
										<select name="alcohol" id="alcohol">
											<option value="">- Отношение к курению -</option>
											<option value="n/a">Не выбрано</option>
											<option value="Негативное">Негативное</option>
											<option value="Нейтральное">Нейтральное</option>
											<option value="Положительное">Положительное</option>
										</select>
									</div>


									<div class="col-12">
										<select name="marital-status" id="marital-status">
											<option value="">- Семейное положение -</option>
											<option value="n/a">Не выбрано</option>
											<option value="Не женат/не замужем">Не женат/не замужем</option>
											<option value="Встречаюсь">Встречаюсь</option>
											<option value="Помолвлен(а)">Помолвлен(а)</option>
											<option value="Женат/замужем">Женат/замужем</option>
											<option value="В гражданском браке">В гражданском браке</option>
											<option value="Влюблен(а)">Влюблен(а)</option>
											<option value="Всё сложно">Всё сложно</option>
											<option value="В активном поиске">В активном поиске</option>
										</select>
									</div>

									<div class="col-12">
										<select name="religion" id="religion">
											<option value="">- Мировоззрение -</option>
											<option value="n/a">Не выбрано</option>
											<option value="Православие">Православие</option>
											<option value="Иудаизм">Иудаизм</option>
											<option value="Католицизм">Католицизм</option>
											<option value="Протестантизм">Протестантизм</option>
											<option value="Ислам">Ислам</option>
											<option value="Буддизм">Буддизм</option>
											<option value="Конфуцианство">Конфуцианство</option>
											<option value="Светский гуманизм">Светский гуманизм</option>
											<option value="Пастафарианство">Пастафарианство</option>
										</select>
									</div>

									<div class="col-12">
										<select name="politics" id="politics">
											<option value="">- Политические предпочтения -</option>
											<option value="n/a">Не выбрано</option>
											<option value="Вне политики">Вне политики</option>
											<option value="Коммунистические">Коммунистические</option>
											<option value="Социалистические">Социалистические</option>
											<option value="Умеренные">Умеренные</option>
											<option value="Либеральные">Либеральные</option>
											<option value="Консервативные">Консервативные</option>
											<option value="Монархические">Монархические</option>
											<option value="Ультраконсервативные">Ультраконсервативные</option>
											<option value="Либертарианские">Либертарианские</option>
										</select>
									</div>

									<div class="col-12">
										<select name="marital-status" id="marital-status">
											<option value="">- Уровень образования -</option>
											<option value="n/a">Не выбрано</option>
											<option value="Начальное">Начальное</option>
											<option value="Основное общее">Основное общее</option>
											<option value="Среднее общее">Среднее общее</option>
											<option value="Среднее профессиональное">Среднее профессиональное</option>
											<option value="Высшее">Высшее</option>
											<option value="Кандидат наук">Кандидат наук</option>
											<option value="Доктор наук">Доктор наук</option>
										</select>
									</div>
								</p>
							</div>

{% endblock %}