{% load static %}

{% block content %}
								<hr>
								<p>Следующие вопросы не связаны с тестом и не обязательны. И всё же мы просим ответить на них. Эта информация нам необходима для ведения статистики.</p>

								<p>
									<div class="col-12">
										<select name="alcohol" id="alcohol">
											<option value="">- Ваш пол -</option>
											<option value="1">Не выбрано</option>
											<option value="1">Мужской</option>
											<option value="1">Женский</option>
										</select>
									</div>

									<div class="col-12">
										<select name="alcohol" id="alcohol">
											<option value="">- Ваш возраст -</option>
											<option value="1">Не выбрано</option>
											<option value="1">14 и младше</option>
											<option value="1">15-17</option>
											<option value="1">18-22</option>
											<option value="1">23-27</option>
											<option value="1">27-35</option>
											<option value="1">36-45</option>
											<option value="1">46-55</option>
											<option value="1">Старше 55</option>
										</select>
									</div>

									<div class="col-12">
										<select name="alcohol" id="alcohol">
											<option value="">- Отношение к алкоголю -</option>
											<option value="1">Не выбрано</option>
											<option value="1">Негативное</option>
											<option value="1">Нейтральное</option>
											<option value="1">Положительное</option>
										</select>
									</div>

									<div class="col-12">
										<select name="alcohol" id="alcohol">
											<option value="">- Отношение к курению -</option>
											<option value="1">Не выбрано</option>
											<option value="1">Негативное</option>
											<option value="1">Нейтральное</option>
											<option value="1">Положительное</option>
										</select>
									</div>


									<div class="col-12">
										<select name="marital-status" id="marital-status">
											<option value="">- Семейное положение -</option>
											<option value="1">Не выбрано</option>
											<option value="1">Не женат/не замужем</option>
											<option value="1">Встречаюсь</option>
											<option value="1">Помолвлен(а)</option>
											<option value="1">Женат/замужем</option>
											<option value="1">В гражданском браке</option>
											<option value="1">Влюблен(а)</option>
											<option value="1">Всё сложно</option>
											<option value="1">В активном поиске</option>
										</select>
									</div>

									<div class="col-12">
										<select name="religion" id="religion">
											<option value="">- Мировоззрение -</option>
											<option value="1">Не выбрано</option>
											<option value="1">Православие</option>
											<option value="1">Иудаизм</option>
											<option value="1">Католицизм</option>
											<option value="1">Протестантизм</option>
											<option value="1">Ислам</option>
											<option value="1">Буддизм</option>
											<option value="1">Конфуцианство</option>
											<option value="1">Светский гуманизм</option>
											<option value="1">Пастафарианство</option>
										</select>
									</div>

									<div class="col-12">
										<select name="politics" id="politics">
											<option value="">- Политические предпочтения -</option>
											<option value="1">Не выбрано</option>
											<option value="1">Вне политики</option>
											<option value="1">Коммунистические</option>
											<option value="1">Социалистические</option>
											<option value="1">Умеренные</option>
											<option value="1">Либеральные</option>
											<option value="1">Консервативные</option>
											<option value="1">Монархические</option>
											<option value="1">Ультраконсервативные</option>
											<option value="1">Либертарианские</option>
										</select>
									</div>

									<div class="col-12">
										<select name="marital-status" id="marital-status">
											<option value="">- Уровень образования -</option>
											<option value="1">Не выбрано</option>
											<option value="1">Начальное</option>
											<option value="1">Основное общее</option>
											<option value="1">Среднее общее</option>
											<option value="1">Среднее профессиональное</option>
											<option value="1">Высшее</option>
											<option value="1">Кандидат наук</option>
											<option value="1">Доктор наук</option>
										</select>
									</div>
								</p>

{% endblock %}