{% extends "base_test.html" %}
{% load static %}



				{% block content %}

				<header>
					<h2>Удовлетворенность жизнью</h2>
				</header>
				<p>Данный тест состоит всего из пяти вопросов. Отвечать на них надо <b>максимально честно</b>, иначе вы не получите объективный результат. Здесь нет верных или неверных ответов – тест показывает субъективное восприятие вами вашей же жизни.</p>
				<hr />
				<form method="post" action="#">
				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я доволен своей жизнью</h3>
				 	</div>
				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="fully-agree-1" name="test-checkbox">
				 		<label for="fully-agree-1">Полностью согласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-1" name="test-checkbox">
				 		<label for="agree-1">Согласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="somewhat-agree-1" name="test-checkbox">
				 		<label for="somewhat-agree-1">Отчасти согласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="neutral-1" name="test-checkbox">
				 		<label for="neutral-1">Не могу согласиться или не согласиться</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="somewhat-disagree-1" name="test-checkbox">
				 		<label for="somewhat-disagree-1">Отчасти несогласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-1" name="test-checkbox">
				 		<label for="disagree-1">Несогласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="strongly-disagree-1" name="test-checkbox">
				 		<label for="strongly-disagree-1">Полностью несогласен</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я живу в прекрасных условиях</h3>
				 	</div>
				 				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="fully-agree-2" name="test-checkbox1">
				 		<label for="fully-agree-2">Полностью согласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-2" name="test-checkbox1">
				 		<label for="agree-2">Согласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="somewhat-agree-2" name="test-checkbox1">
				 		<label for="somewhat-agree-2">Отчасти согласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="neutral-2" name="test-checkbox1">
				 		<label for="neutral-2">Не могу согласиться или не согласиться</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="somewhat-disagree-2" name="test-checkbox1">
				 		<label for="somewhat-disagree-2">Отчасти несогласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-2" name="test-checkbox1">
				 		<label for="disagree-2">Несогласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="strongly-disagree-2" name="test-checkbox1">
				 		<label for="strongly-disagree-2">Полностью несогласен</label>
				 	</div>
				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Если бы я мог заново начать свою жизнь, я бы почти ничего не стал в ней менять</h3>
				 	</div>
				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="fully-agree-3" name="test-checkbox2">
				 		<label for="fully-agree-3">Полностью согласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-3" name="test-checkbox2">
				 		<label for="agree-3">Согласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="somewhat-agree-3" name="test-checkbox2">
				 		<label for="somewhat-agree-3">Отчасти согласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="neutral-3" name="test-checkbox2">
				 		<label for="neutral-3">Не могу согласиться или не согласиться</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="somewhat-disagree-3" name="test-checkbox2">
				 		<label for="somewhat-disagree-3">Отчасти несогласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-3" name="test-checkbox2">
				 		<label for="disagree-3">Несогласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="strongly-disagree-3" name="test-checkbox2">
				 		<label for="strongly-disagree-3">Полностью несогласен</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">По большому счету, моя жизнь близка к идеальной</h3>
				 	</div>
				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="fully-agree-4" name="test-checkbox3">
				 		<label for="fully-agree-4">Полностью согласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-4" name="test-checkbox3">
				 		<label for="agree-4">Согласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="somewhat-agree-4" name="test-checkbox3">
				 		<label for="somewhat-agree-4">Отчасти согласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="neutral-4" name="test-checkbox3">
				 		<label for="neutral-4">Не могу согласиться или не согласиться</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="somewhat-disagree-4" name="test-checkbox3">
				 		<label for="somewhat-disagree-4">Отчасти несогласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-4" name="test-checkbox3">
				 		<label for="disagree-4">Несогласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="strongly-disagree-4" name="test-checkbox3">
				 		<label for="strongly-disagree-4">Полностью несогласен</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">В главном я пока достигал всего, чего хотел в жизни</h3>
				 	</div>
				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="fully-agree-5" name="test-checkbox4">
				 		<label for="fully-agree-5">Полностью согласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-5" name="test-checkbox4">
				 		<label for="agree-5">Согласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="somewhat-agree-5" name="test-checkbox4">
				 		<label for="somewhat-agree-5">Отчасти согласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="neutral-5" name="test-checkbox4">
				 		<label for="neutral-5">Не могу согласиться или не согласиться</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="somewhat-disagree-5" name="test-checkbox4">
				 		<label for="somewhat-disagree-5">Отчасти несогласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-5" name="test-checkbox4">
				 		<label for="disagree-5">Несогласен</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="strongly-disagree-5" name="test-checkbox4">
				 		<label for="strongly-disagree-5">Полностью несогласен</label>
				 	</div>
				 </p>	

					{% include 'additional_questions.html' %}

				 <button type="submit">Получить результат</button>
				</form>

				{% endblock %}

