{% extends "base_test.html" %}
{% load static %}



				{% block content %}

				<header>
					<h2>Темперамент</h2>
				</header>
				<p>Вам будет предложено несколько вопросов об особенностях вашего поведения в различных условиях и ситуациях. Это не испытание ума или способностей, поэтому нет ответов хороших или плохих. Мы заинтересованы в правдивых ответах. Содержание отдельных вопросов не анализируется, важен только итоговый результат. На вопросы следует отвечать поочередно, не возвращаясь к предыдущим ответам. Работайте быстро, не тратьте слишком много времени на обдумывание ответа. На вопрос можно ответить "да" или "нет".</p>
				<hr />
				<form method="post" action="#">
				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Часто ли Вы испытываете тягу к новым впечатлениям, к тому чтобы отвлечься, испытать сильные ощущения?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-1" name="test-checkbox">
				 		<label for="agree-1">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-1" name="test-checkbox">
				 		<label for="disagree-1">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Часто ли вы чувствуете, что нуждаетесь в друзьях, которые могут вас понять, одобрить или посочувствовать?</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-2" name="test-checkbox1">
				 		<label for="agree-2">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-2" name="test-checkbox1">
				 		<label for="disagree-2">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Считаете ли вы себя беззаботным человеком?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-3" name="test-checkbox2">
				 		<label for="agree-3">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-3" name="test-checkbox2">
				 		<label for="disagree-3">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Очень ли трудно вам отказываться от своих намерений?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-4" name="test-checkbox3">
				 		<label for="agree-4">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-4" name="test-checkbox3">
				 		<label for="disagree-4">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Обдумываете ли вы свои дела не спеша и предпочитаете подождать, прежде чем действовать?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-5" name="test-checkbox4">
				 		<label for="agree-5">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-5" name="test-checkbox4">
				 		<label for="disagree-5">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Всегда ли вы сдерживаете свои обещания, даже если вам это невыгодно?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-6" name="test-checkbox5">
				 		<label for="agree-6">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-6" name="test-checkbox5">
				 		<label for="disagree-6">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Часто ли у вас бывают спады и подъемы настроения?</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-7" name="test-checkbox6">
				 		<label for="agree-7">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-7" name="test-checkbox6">
				 		<label for="disagree-7">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Быстро ли вы обычно действуете и говорите, не затрачиваете ли много времени на обдумывание?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-8" name="test-checkbox7">
				 		<label for="agree-8">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-8" name="test-checkbox7">
				 		<label for="disagree-8">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Возникало ли у вас когда-нибудь чувство, что вы несчастны, хотя никакой серьезной причины на это не было?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-9" name="test-checkbox8">
				 		<label for="agree-9">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-9" name="test-checkbox8">
				 		<label for="disagree-9">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Верно ли, что "на спор" вы способны решиться на все?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-10" name="test-checkbox9">
				 		<label for="agree-10">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-10" name="test-checkbox9">
				 		<label for="disagree-10">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Смущаетесь ли вы, когда хотите познакомиться с человеком противоположного пола, который вам симпатичен?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-11" name="test-checkbox10">
				 		<label for="agree-11">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-11" name="test-checkbox10">
				 		<label for="disagree-11">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Бывает ли когда-нибудь, что, разозлившись, вы выходите из себя?</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-12" name="test-checkbox11">
				 		<label for="agree-12">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-12" name="test-checkbox11">
				 		<label for="disagree-12">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Часто ли действуете необдуманно, под влиянием момента?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-13" name="test-checkbox12">
				 		<label for="agree-13">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-13" name="test-checkbox12">
				 		<label for="disagree-13">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Часто ли вас беспокоят мысли о том, что вам не следовало чего-либо делать или говорить?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-14" name="test-checkbox13">
				 		<label for="agree-14">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-14" name="test-checkbox13">
				 		<label for="disagree-14">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Предпочитаете ли вы чтение книг встречам с людьми?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-15" name="test-checkbox14">
				 		<label for="agree-15">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-15" name="test-checkbox14">
				 		<label for="disagree-15">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Верно ли, что вас легко задеть?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-16" name="test-checkbox15">
				 		<label for="agree-16">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-16" name="test-checkbox15">
				 		<label for="disagree-16">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Любите ли вы часто бывать в компании?</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-17" name="test-checkbox16">
				 		<label for="agree-17">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-17" name="test-checkbox16">
				 		<label for="disagree-17">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Бывают ли у вас такие мысли, которыми вам не хотелось делиться с другими людьми?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-18" name="test-checkbox17">
				 		<label for="agree-18">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-18" name="test-checkbox17">
				 		<label for="disagree-18">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Верно ли, что иногда вы настолько полны энергии, что все горит в руках, а иногда вы чувствуете сильную вялость?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-19" name="test-checkbox18">
				 		<label for="agree-19">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-19" name="test-checkbox18">
				 		<label for="disagree-19">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Стараетесь ли вы ограничить круг своих знакомств небольшим числом самых близких людей?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-20" name="test-checkbox19">
				 		<label for="agree-20">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-20" name="test-checkbox19">
				 		<label for="disagree-20">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Много ли вы мечтаете?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-21" name="test-checkbox20">
				 		<label for="agree-21">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-21" name="test-checkbox20">
				 		<label for="disagree-21">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Когда на вас кричат, отвечаете ли тем же?</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-22" name="test-checkbox21">
				 		<label for="agree-22">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-22" name="test-checkbox21">
				 		<label for="disagree-22">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Считаете ли вы свои привычки хорошими?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-23" name="test-checkbox22">
				 		<label for="agree-23">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-23" name="test-checkbox22">
				 		<label for="disagree-23">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Часто ли у вас появляется чувство, что вы чем-то виноваты?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-24" name="test-checkbox23">
				 		<label for="agree-24">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-24" name="test-checkbox23">
				 		<label for="disagree-24">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Способны ли вы иногда дать волю своим чувств и беззаботно развлечься с веселой компанией?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-25" name="test-checkbox24">
				 		<label for="agree-25">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-25" name="test-checkbox24">
				 		<label for="disagree-25">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Можно ли сказать, что часто у вас нервы бывают натянуты до предела?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-26" name="test-checkbox25">
				 		<label for="agree-26">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-26" name="test-checkbox25">
				 		<label for="disagree-26">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Слывете ли вы за человека веселого и живого?</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-27" name="test-checkbox26">
				 		<label for="agree-27">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-27" name="test-checkbox26">
				 		<label for="disagree-27">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">После того, как дело сделано, часто ли вы мысленно возвращаетесь к нему и думаете, что могли бы сделать лучше?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-28" name="test-checkbox27">
				 		<label for="agree-28">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-28" name="test-checkbox27">
				 		<label for="disagree-28">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Чувствуете ли вы себя неспокойно, находясь в большой компании?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-29" name="test-checkbox28">
				 		<label for="agree-29">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-29" name="test-checkbox28">
				 		<label for="disagree-29">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Бывает ли, что вы передаете слухи?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-30" name="test-checkbox29">
				 		<label for="agree-30">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-30" name="test-checkbox29">
				 		<label for="disagree-30">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Бывает ли, что вам не спится из-за того, что в голову лезут разные мысли?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-31" name="test-checkbox30">
				 		<label for="agree-31">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-31" name="test-checkbox30">
				 		<label for="disagree-31">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Что вы предпочитаете, если хотите что-либо узнать: найти это в книге или спросить у друзей?</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-32" name="test-checkbox31">
				 		<label for="agree-32">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-32" name="test-checkbox31">
				 		<label for="disagree-32">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Бывают ли у вас сильные сердцебиения?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-33" name="test-checkbox32">
				 		<label for="agree-33">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-33" name="test-checkbox32">
				 		<label for="disagree-33">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Нравится ли вам работа, требующая сосредоточения?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-34" name="test-checkbox33">
				 		<label for="agree-34">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-34" name="test-checkbox33">
				 		<label for="disagree-34">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Бывают ли у вас приступы дрожи?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-35" name="test-checkbox34">
				 		<label for="agree-35">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-35" name="test-checkbox34">
				 		<label for="disagree-35">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Всегда ли вы говорите только правду?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-36" name="test-checkbox35">
				 		<label for="agree-36">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-36" name="test-checkbox35">
				 		<label for="disagree-36">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Бывает ли вам неприятно находиться в компании, где все подшучивают друг над другом?</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-37" name="test-checkbox36">
				 		<label for="agree-37">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-37" name="test-checkbox36">
				 		<label for="disagree-37">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Раздражительны ли вы?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-38" name="test-checkbox37">
				 		<label for="agree-38">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-38" name="test-checkbox37">
				 		<label for="disagree-38">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Нравится ли вам работа, требующая быстрого действия?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-39" name="test-checkbox38">
				 		<label for="agree-39">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-39" name="test-checkbox38">
				 		<label for="disagree-39">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Верно ли, что вам часто не дают покоя мысли о разных неприятностях и "ужасах", которые могли бы произойти, хотя все кончилось благополучно?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-40" name="test-checkbox39">
				 		<label for="agree-40">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-40" name="test-checkbox39">
				 		<label for="disagree-40">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Верно ли, что вы неторопливы в движениях и несколько медлительны?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-41" name="test-checkbox40">
				 		<label for="agree-41">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-41" name="test-checkbox40">
				 		<label for="disagree-41">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Опаздывали ли вы когда-нибудь на работу или встречу с кем-то?</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-42" name="test-checkbox41">
				 		<label for="agree-42">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-42" name="test-checkbox41">
				 		<label for="disagree-42">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Часто ли вам снятся кошмары?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-43" name="test-checkbox42">
				 		<label for="agree-43">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-43" name="test-checkbox42">
				 		<label for="disagree-43">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Верно ли что вы так любите поговорить, что не упускаете любого удобного случая побеседовать с новым человеком?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-44" name="test-checkbox43">
				 		<label for="agree-44">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-44" name="test-checkbox43">
				 		<label for="disagree-44">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Беспокоят ли вас какие-либо боли?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-45" name="test-checkbox44">
				 		<label for="agree-45">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-45" name="test-checkbox44">
				 		<label for="disagree-45">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Огорчились бы вы, если бы не смогли долго видеться с друзьями?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-46" name="test-checkbox45">
				 		<label for="agree-46">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-46" name="test-checkbox45">
				 		<label for="disagree-46">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Можете ли вы назвать себя нервным человеком?</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-47" name="test-checkbox46">
				 		<label for="agree-47">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-47" name="test-checkbox46">
				 		<label for="disagree-47">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Есть ли среди ваших знакомых такие, которые вам явно не нравятся?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-48" name="test-checkbox47">
				 		<label for="agree-48">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-48" name="test-checkbox47">
				 		<label for="disagree-48">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Могли бы вы сказать, что вы уверенный в себе человек?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-49" name="test-checkbox48">
				 		<label for="agree-49">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-49" name="test-checkbox48">
				 		<label for="disagree-49">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Легко ли вас задевает критика ваших недостатков, или вашей работы?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-50" name="test-checkbox49">
				 		<label for="agree-50">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-50" name="test-checkbox49">
				 		<label for="disagree-50">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Трудно ли вам получить настоящее удовольствие от мероприятий, в которых участвует много народу?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-51" name="test-checkbox50">
				 		<label for="agree-51">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-51" name="test-checkbox50">
				 		<label for="disagree-51">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Беспокоит ли вас чувство, что вы чем-то хуже других?</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-52" name="test-checkbox51">
				 		<label for="agree-52">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-52" name="test-checkbox51">
				 		<label for="disagree-52">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Сумели бы вы внести оживление в скучную компанию?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-53" name="test-checkbox52">
				 		<label for="agree-53">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-53" name="test-checkbox52">
				 		<label for="disagree-53">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Бывает ли, что вы говорите о вещах, в которых совсем не разбираетесь?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-54" name="test-checkbox53">
				 		<label for="agree-54">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-54" name="test-checkbox53">
				 		<label for="disagree-54">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Беспокоитесь ли вы о своем здоровье?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-55" name="test-checkbox54">
				 		<label for="agree-55">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-55" name="test-checkbox54">
				 		<label for="disagree-55">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Любите ли вы подшутить над другими?</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-56" name="test-checkbox55">
				 		<label for="agree-56">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-56" name="test-checkbox55">
				 		<label for="disagree-56">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Страдаете ли вы бессонницей?</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-57" name="test-checkbox56">
				 		<label for="agree-57">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-57" name="test-checkbox56">
				 		<label for="disagree-57">Нет</label>
				 	</div>

				 </p>
				 {% include 'additional_questions.html' %}
				 <button type="submit">Получить результат</button>
				</form>

				{% endblock %}