{% extends "base_test.html" %}
{% load static %}



				{% block content %}

				<header>
					<h2>Тип мышления</h2>
				</header>
				<p>Тип мышления – индивидуальный способ преобразования информации. Зная свой тип мышления, можно прогнозировать успешность в конкретных видах профессиональной деятельности.
				</p>
				<p>
				Выделяют 4 базовых типа мышления, каждый из которых обладает специфическими характеристиками: предметное, образное, знаковое и символическое мышление.
				Независимо от типа мышления человек может характеризоваться определенным уровнем творческих способностей. Профиль мышления, отображающий преобладающие способы переработки информации и уровень креативности, является важнейшей индивидуальной характеристикой человека, определяющей его стиль деятельности, склонности, интересы и профессиональную направленность.</p> <p>Данный тест состоит из 40 вопросов. Отвечать на них надо <b>максимально честно</b>, иначе вы не получите объективный результат.</p>

				
				<hr />
				<form method="post" action="#">
				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Мне легче что-либо сделать самому, чем объяснить другому.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-1" name="test-checkbox">
				 		<label for="agree-1">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-1" name="test-checkbox">
				 		<label for="disagree-1">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Мне интересно составлять компьютерные программы.</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-2" name="test-checkbox1">
				 		<label for="agree-2">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-2" name="test-checkbox1">
				 		<label for="disagree-2">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я люблю читать книги.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-3" name="test-checkbox2">
				 		<label for="agree-3">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-3" name="test-checkbox2">
				 		<label for="disagree-3">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Мне нравится живопись, скульптура, архитектура.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-4" name="test-checkbox3">
				 		<label for="agree-4">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-4" name="test-checkbox3">
				 		<label for="disagree-4">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Даже в отлаженном деле я стараюсь что-то улучшить.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-5" name="test-checkbox4">
				 		<label for="agree-5">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-5" name="test-checkbox4">
				 		<label for="disagree-5">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я лучше понимаю, если мне объясняют на предметах или рисунках.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-6" name="test-checkbox5">
				 		<label for="agree-6">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-6" name="test-checkbox5">
				 		<label for="disagree-6">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я люблю играть в шахматы.</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-7" name="test-checkbox6">
				 		<label for="agree-7">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-7" name="test-checkbox6">
				 		<label for="disagree-7">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я легко излагаю свои мысли как в устной, так и в письменной форме.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-8" name="test-checkbox7">
				 		<label for="agree-8">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-8" name="test-checkbox7">
				 		<label for="disagree-8">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Когда я читаю книгу, я четко вижу ее героев и описываемые события.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-9" name="test-checkbox8">
				 		<label for="agree-9">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-9" name="test-checkbox8">
				 		<label for="disagree-9">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я предпочитаю самостоятельно планировать свою работу.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-10" name="test-checkbox9">
				 		<label for="agree-10">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-10" name="test-checkbox9">
				 		<label for="disagree-10">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Мне нравится все делать своими руками.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-11" name="test-checkbox10">
				 		<label for="agree-11">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-11" name="test-checkbox10">
				 		<label for="disagree-11">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">В детстве я создавал (а) свой шифр для переписки с друзьями.</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-12" name="test-checkbox11">
				 		<label for="agree-12">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-12" name="test-checkbox11">
				 		<label for="disagree-12">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я придаю большое значение сказанному слову.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-13" name="test-checkbox12">
				 		<label for="agree-13">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-13" name="test-checkbox12">
				 		<label for="disagree-13">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Знакомые мелодии вызывают у меня в голове определенные картины.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-14" name="test-checkbox13">
				 		<label for="agree-14">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-14" name="test-checkbox13">
				 		<label for="disagree-14">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Разнообразные увлечения делают жизнь человека богаче и ярче.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-15" name="test-checkbox14">
				 		<label for="agree-15">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-15" name="test-checkbox14">
				 		<label for="disagree-15">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">При решении задачи мне легче идти методом проб и ошибок.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-16" name="test-checkbox15">
				 		<label for="agree-16">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-16" name="test-checkbox15">
				 		<label for="disagree-16">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Мне интересно разбираться в природе физических явлений.</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-17" name="test-checkbox16">
				 		<label for="agree-17">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-17" name="test-checkbox16">
				 		<label for="disagree-17">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Мне интересна работа ведущего теле-радиопрограмм, журналиста.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-18" name="test-checkbox17">
				 		<label for="agree-18">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-18" name="test-checkbox17">
				 		<label for="disagree-18">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Мне легко представить предмет или животное, которых нет в природе.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-19" name="test-checkbox18">
				 		<label for="agree-19">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-19" name="test-checkbox18">
				 		<label for="disagree-19">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Мне больше нравится процесс деятельности, чем сам результат.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-20" name="test-checkbox19">
				 		<label for="agree-20">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-20" name="test-checkbox19">
				 		<label for="disagree-20">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Мне нравилось в детстве собирать конструктор из деталей, лего.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-21" name="test-checkbox20">
				 		<label for="agree-21">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-21" name="test-checkbox20">
				 		<label for="disagree-21">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я предпочитаю точные науки (математику, физику).</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-22" name="test-checkbox21">
				 		<label for="agree-22">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-22" name="test-checkbox21">
				 		<label for="disagree-22">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Меня восхищает точность и глубина некоторых стихов.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-23" name="test-checkbox22">
				 		<label for="agree-23">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-23" name="test-checkbox22">
				 		<label for="disagree-23">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Знакомый запах вызывает в моей памяти прошлые события.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-24" name="test-checkbox23">
				 		<label for="agree-24">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-24" name="test-checkbox23">
				 		<label for="disagree-24">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я не хотел (а) бы подчинять свою жизнь определенной системе.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-25" name="test-checkbox24">
				 		<label for="agree-25">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-25" name="test-checkbox24">
				 		<label for="disagree-25">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Когда я слышу музыку, мне хочется танцевать.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-26" name="test-checkbox25">
				 		<label for="agree-26">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-26" name="test-checkbox25">
				 		<label for="disagree-26">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я понимаю красоту математических формул.</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-27" name="test-checkbox26">
				 		<label for="agree-27">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-27" name="test-checkbox26">
				 		<label for="disagree-27">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Мне легко говорить перед любой аудиторией.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-28" name="test-checkbox27">
				 		<label for="agree-28">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-28" name="test-checkbox27">
				 		<label for="disagree-28">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я люблю посещать выставки, спектакли, концерты.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-29" name="test-checkbox28">
				 		<label for="agree-29">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-29" name="test-checkbox28">
				 		<label for="disagree-29">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я сомневаюсь даже в том, что для других очевидно.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-30" name="test-checkbox29">
				 		<label for="agree-30">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-30" name="test-checkbox29">
				 		<label for="disagree-30">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я люблю заниматься рукоделием, что-то мастерить.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-31" name="test-checkbox30">
				 		<label for="agree-31">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-31" name="test-checkbox30">
				 		<label for="disagree-31">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Мне интересно было бы расшифровать древние тайнописи.</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-32" name="test-checkbox31">
				 		<label for="agree-32">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-32" name="test-checkbox31">
				 		<label for="disagree-32">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я легко усваиваю грамматические конструкции языка.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-33" name="test-checkbox32">
				 		<label for="agree-33">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-33" name="test-checkbox32">
				 		<label for="disagree-33">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я согласен с Ф.М. Достоевским, что красота спасет мир.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-34" name="test-checkbox33">
				 		<label for="agree-34">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-34" name="test-checkbox33">
				 		<label for="disagree-34">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Не люблю ходить одним и тем же путем.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-35" name="test-checkbox34">
				 		<label for="agree-35">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-35" name="test-checkbox34">
				 		<label for="disagree-35">Нет</label>
				 	</div>

				 </p>	

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Истинно только то, что можно потрогать руками.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-36" name="test-checkbox35">
				 		<label for="agree-36">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-36" name="test-checkbox35">
				 		<label for="disagree-36">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я легко запоминаю формулы, символы, условные обозначения.</h3>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-37" name="test-checkbox36">
				 		<label for="agree-37">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-37" name="test-checkbox36">
				 		<label for="disagree-37">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Друзья любят слушать, когда я им что-то рассказываю.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-38" name="test-checkbox37">
				 		<label for="agree-38">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-38" name="test-checkbox37">
				 		<label for="disagree-38">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я легко могу представить в образах содержание рассказа или фильма.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-39" name="test-checkbox38">
				 		<label for="agree-39">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-39" name="test-checkbox38">
				 		<label for="disagree-39">Нет</label>
				 	</div>

				 </p>

				 <p>
				 	<div class="quiz-question-header">
				 		<h3 class="quiz-question-title">Я не могу успокоиться, пока не доведу свою работу до совершенства.</h3>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="agree-40" name="test-checkbox39">
				 		<label for="agree-40">Да</label>
				 	</div>

				 	<div class="col-4 col-12-small"> 
				 		<input type="radio" id="disagree-40" name="test-checkbox39">
				 		<label for="disagree-40">Нет</label>
				 	</div>

				 </p>	
				 {% include 'additional_questions.html' %}
				 <button type="submit">Получить результат</button>
				</form>

				{% endblock %}